* {
  margin: 0px;
  padding: 0px;
}

.div1{
  height: 300px;
  width: 500px;
  background-image: url('../public/img/dark-background-abstract-background-network-3d-background-6016x3384-8324.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin: 10px 0px;
}

.div2{
  height: 50px;
  width: 100%;
  margin-top: 80px;
}

.div3{
  height: 500px;
  width: 50%;
  background: red;  
}

/* bgimg */
.img1{
  height: 80px;
  width: 100px;
  background: none;
}

/* input */
.input1{
  width: 90%;
  padding: 5px 10px;
  border: 1px solid white;
  background: none;
  outline: none;
  color: white;
  border-radius: 5px;
}

.input2{
  width: 90%;
  padding: 5px 10px;
  border: 1px solid white;
  background: none;
  outline: none;
  color: white;
  border-radius: 5px;
}

.input3{
  width: 45%;
  padding: 5px 10px;
  border: 1px solid white;
  background: none;
  outline: none;
  color: white;
  border-radius: 5px;
  margin: 0px 3px;
}

.input4{
  width: 45%;
  padding: 5px 10px;
  border: 1px solid white;
  background: none;
  outline: none;
  color: white;
  border-radius: 5px;
  margin: 0px 3px;
}

.input5{
  width: 99%;
  padding: 10px 10px;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  margin: 0px 3px;
}

.input6{
  width: 100%;
  padding: 10px 10px;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  margin: 0px 3px;
}

.btn1{
  margin: 20px 0px;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background: #2364d2;
}